// sass --watch scss:css

@import 'config.scss';

@import 'plugin/_bootstrap.scss';
@import 'plugin/_bsnav.min.scss';


body{
  font-family: 'Roboto', sans-serif;
  // background-color: $primaryColor;
}

.modal-open .bsnav-sticky{
  right: 17px;
  @media (max-width: 991px){
    right: 0;
  }
}

.modal{
  &__forgot{
    display: block;
    font-size: 14px;
    padding-top: 25px;
    color: $primaryColor;
    text-decoration: underline;
    transition: .3s;
    &:hover{
      color: #8d8d8d;
    }
  }

  &__create{
    display: block;
    font-size: 14px;
    color: $primaryColor;
    padding-top: 15px;
    & a{
      color: $primaryColor;
      text-decoration: underline;
      transition: .3s;
      &:hover{
        color: #8d8d8d;
      }
    }
  }

  &__close{
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

.bsnav-sticky.bsnav-sticky-slide.sticked{
  background-color: #000000;
  z-index: 100;
  padding-top: 0;
}

.bsnav-sticky.bsnav-sticky-slide{
  transition: background-color .3s, padding-top .2s;
}

.bsnav-mobile .navbar{
  background: #000000;
}

.navbar .nav-link{
  color: $secondaryColor;
}

.navbar-toggler{
  &:focus-visible{
    outline: none;
  }
}

.btn-white{
  background-color: #FFFFFF;
}

.btn-custom{
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  color: $primaryColor;
  background-color: $secondaryColor;
  border: 1px solid rgba($tertiaryColor, 0.6);

  &:hover, &:not(:disabled):not(.disabled):active, &:focus{
    background-color: $primaryColor;
    color: $secondaryColor;
    border: 1px solid $primaryColor;
    box-shadow: none;
  }

  &--dark{
    @extend .btn-custom;
    background-color: $primaryColor;
    color: $secondaryColor;
    &:hover, &:not(:disabled):not(.disabled):active, &:focus{
      background-color: $secondaryColor;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    box-shadow: none;
    }
  }
}

.separator{
  &::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -70px;
    transform: translateY(-50%);
    display: inline-block;
    background-color: lightblue;
    width: 50px;
    height: 2px;
  }

  &--light::after{
    @extend .separator;
    background-color: $secondaryColor;
  }

  &--dark::after{
    @extend .separator;
    background-color: $primaryColor;
  }

}

.navbar{
  padding-top: 20px;
  &__login{
    color: $secondaryColor;
    transition: all .3s ease;
    &:hover{
      color: #8d8d8d;
    }
  }

  .navbar-collapse{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-item{
    color: $secondaryColor;
    .nav-link:hover, .nav-link:active, .nav-link:focus{
      color: #8d8d8d;
      outline: none;
    }

    .nav-link{
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .navbar-brand{
    font-weight: 700;
    color: $secondaryColor;
  }

  .navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before{
    background-color: $secondaryColor;
  }

  @media (max-width: 991px) { 
    .nav-link{
      color: $secondaryColor;
    }
  }
}

.footer{
  padding-top: 100px;
  background-color: #000000;
  width: 100%;
  padding-bottom: 100px;
  color: $secondaryColor;

  &__title{
    font-weight: 700;
    font-size: 24px;
  }

  &__desc{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }

  &__link{
    color: $secondaryColor;
    transition: .3s;
    
    &:hover, &:focus-visible{
      outline: none;
      color: #8d8d8d;
      text-decoration: none;
    }
  }

  &__social a{
    color: $secondaryColor;
    font-size: 24px;
    text-decoration: none;
    transition: all .3s ease;

    &:hover{
      color: #8d8d8d;
    }
  }

  &__terms{
    font-size: 12px;
    padding-top: 30px;
    margin-bottom: 0;
    & a{
      color: $secondaryColor;
      text-decoration: none;
      transition: .3s;

      &:hover{
        color: #8d8d8d;
      }
    }
  }

  &__copyright{
    margin-top: -10px;
    color: $tertiaryColor;
    font-size: 12px;
  }

  &__subtitle{
    font-weight: 700;
    padding-top: 5px;
    font-size: 16px;
  }

  @media (max-width: 575px) { 
    padding-top: 50px;
    padding-bottom: 0;
  }
}



