// sass --watch sass/layout.scss:css/layout.css

@import 'plugin/_bootstrap.scss';
@import 'plugin/_swiper-bundle.scss';
@import 'plugin/_bsnav.min.scss';

@import 'config/_variable.scss';

body{
  font-family: 'Roboto', sans-serif;
  // background-color: $primaryColor;
}

.bsnav-sticky.bsnav-sticky-slide.sticked{
  background-color: $primaryColor;
  z-index: 100;
  padding-top: 0;
}

.navbar{
  padding-top: 20px;
  .nav-item{
    color: $secondaryColor;
    .nav-link:hover{
      color: #8d8d8d;
    }

    .nav-link{
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .navbar-brand{
    font-weight: 700;
    color: $secondaryColor;
  }

  .navbar-text{
    .nav-link{
      color: $secondaryColor;
      i:hover{
        color: #8d8d8d;
      }
    }
  }

  @media (max-width: 991px) { 
    .nav-link{
      color: $primaryColor;
    }
  }
}

.banner{
  background-color: $primaryColor;
  color: $secondaryColor;
  width: 100%;
  height: 90vh;
  position: relative;

  .banner__text{
    padding-top: 20%;
    z-index: 5;
  }

  .banner__title{
    color: $secondaryColor;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
  }

  .banner__subtitle{
    color: $tertiaryColor;
  }

  .banner__prices{
    font-size: 32px;
  }

  .banner__detail{
    font-weight: 700;
    margin-top: 150px;
  }

  .banner__img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  }

  .slider-container{
    position: absolute;
    z-index: 5;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 170px;
    background-color: #000000;
  }

  .swiper-container{
    height: 100%;
  }

  .swiper-button-prev, .swiper-button-next{
    color: $secondaryColor;
  }

  .swiper-button-prev{
    left: 30px;
    &::after{
      display: none;
    }
  }

  .swiper-button-next{
    right: 30px;
    &::after{
      display: none;
    }
  }

  .swiper-pagination{
    top: -40px;
    font-weight: 700;
  }

  @media (max-width: 575px) { 
    .banner__text{
      padding-top: 30%;
    }

    .banner__detail{
      margin-top: 50px;
    }

    .slider-container{
     bottom: -15%;
   }

   }
}

.featured{
  padding-top: 10vh;

  .featured__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
  }

  .featured__subtitle{
    color: $tertiaryColor;
  }

  .card{
    min-height: 320px;
    background-color: $primaryColor;
    border: none;
    &:hover .card-img{
      opacity: 0.3;
    }
  }

  .card-img{
    height: 100%;
    object-fit: cover;
    transition: all .3s ease;
  }

  .card-img-overlay{
    line-height: 20px;
  }

  .card-title{
    font-weight: 500;
    font-size: 16px;
  }
  
  .card-prices{
    font-weight: 700;
    font-size: 24px;
  }

  .card-text{
    font-size: 14px;
    color: $tertiaryColor;
  }

  .card-text-container{
    position: absolute;
    bottom: 10px;
  }

  .browse{
    font-weight: 500;
  }

}

.services{
  color: $secondaryColor;
  height: 90vh;
  position: relative;
  margin-top: 100px;
  // overflow: hidden;
  
  .services__bg{
    position: absolute;
    z-index: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }

  .services__text{
    top: 250px;
    width: 100%;
  }

  .services__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
  }

  .services__subtitle{
    color: $tertiaryColor;
  }

  .services__learn-more{
    font-weight: 700;
    margin-top: 100px;
  }

  .services__card{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
  }

  .card{
    background-color: #000000;
    padding: 10%;
    min-height: 390px;
  }

  .card-img-top{
    width: 40%;
  }

  .card-title{
    font-weight: 700;
    margin-top: 40px;
  }

  .card-text{
    color: $tertiaryColor;
    font-size: 14px;
  }

  .slider-container{
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 50px;
  }

  .swiper-button-prev{
    left: 10px;
    color: rgba($color: $tertiaryColor, $alpha: 0.6);
    transition: all .3s ease;
    &::after{
      display: none;
    }
    &:hover{
      color: rgba($color: $tertiaryColor, $alpha: 1);
    }
  }

  .swiper-button-next{
    right: 10px;
    color: rgba($color: $tertiaryColor, $alpha: 0.6);
    transition: all .3s ease;
    &::after{
      display: none;
    }
    &:hover{
      color: rgba($color: $tertiaryColor, $alpha: 1);
    }
  }

  @media (max-width: 991px) {
    .services__bg{
      width: 100%;
      height: 100vh;
    }

    .services__text{
      top: 30px;
      width: 100%;
    }

    .services__learn-more{
      font-weight: 700;
      margin-top: 50px;
    }

    .services__card{
      top: 65%;
    }

    .slider-container{
      background-color: #000000;
    }
  }
}

.agents{
  padding-top: 100px;

  .agents__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
  }

  .agents__subtitle{
    color: $tertiaryColor;
  }

  .agents__wrapper{
    height: 300px;
    position: relative;
    margin-bottom: 50px;
  }

  .agents__image{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: top;
  }

  .agents__text{
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    width: 90%;
    padding: 5% 10%;
    color: $secondaryColor;
    border-radius: 5px;
  }

  .agents__name{
    font-weight: 700;
    font-size: 16px;
  }

  .agents__telp{
    color: $tertiaryColor;
    font-size: 12px;
    margin: 0;
  }

  .agents__all{
    font-weight: 700;
    margin-top: 50px;
  }
}

.search{
  margin-top: 100px;
  background-image: url(../img/cta-fig-3.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  &::after{
    content: '';
    display: block;
    background-color: black;
    opacity: 0.2;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .search__text{
    position: relative;
    z-index: 1;
    margin: auto;
    padding: 2%;
    background-color: #000;
    width: 400px;
    color: $secondaryColor;
  }

  .search__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
  }

  .search__desc{
    color: $tertiaryColor;
    font-size: 16px;
    margin-top: 10px;
  }

  .search__now{
    padding-top: 70px;
    font-weight: 700;
    margin: 0;
  }

  @media (max-width: 575px) { 
    .search__text{
      padding: 5%;
      width: 90%;
    }
  }
}

.footer{
  padding-top: 100px;
  background-color: #000000;
  width: 100%;
  padding-bottom: 100px;
  color: $secondaryColor;

  .footer__title{
    font-weight: 700;
    font-size: 24px;
  }

  .footer__desc{
    margin-top: 20px;
    color: $tertiaryColor;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }

  .footer__social a{
    color: $secondaryColor;
    font-size: 24px;
    text-decoration: none;
    transition: all .3s ease;

    &:hover{
      color: #8d8d8d;
    }
  }

  .footer__terms{
    font-size: 12px;
    padding-top: 30px;
  }

  .footer__copyright{
    margin-top: -10px;
    color: $tertiaryColor;
    font-size: 12px;
  }

  .footer__subtitle{
    font-weight: 700;
    padding-top: 5px;
  }

  @media (max-width: 575px) { 
    padding-top: 50px;
    padding-bottom: 0;
  }
}



