@import '../_config.scss';
@import '../plugin/_swiper-bundle.scss';

.section-title{
  font-weight: 700;
  line-height: 40px;
  font-size: 36px;
  margin: 0;
}

.section-subtitle{
  color: $tertiaryColor;
}

.banner{
  background-color: $primaryColor;
  color: $secondaryColor;
  width: 100%;
  position: relative;

  &__text{
    padding: 200px 0;
    z-index: 5;
  }

  &__title{
    color: $secondaryColor;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
  }

  &__subtitle{
    color: $tertiaryColor;
  }

  &__prices{
    font-size: 32px;
  }

  &__detail{
    font-weight: 700;
    margin-top: 150px;
    display: inline-block;
    color: $secondaryColor;
    position: relative;
    transition: .3s;

    &:hover{
      color: #8d8d8d;
      text-decoration: none;
    }

    &:focus-visible{
      outline: none;
    }
  }

  &__img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  }

  .swiper-container{
    height: 100%;
  }

  .slider-container{
    position: absolute;
    z-index: 5;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 170px;
  }

  .swiper-pagination{
    position: unset;
    top: -40px;
    font-weight: 700;
  }

  .swiper-button-prev, .swiper-button-next{
    color: $secondaryColor;
    background-color: black;
    padding: 38px;

    &::after{
      display: none;
      
    }

    &:focus-visible{
      outline: none;
    }
  }

  @media (max-width: 575px) { 
    &__detail{
      margin-top: 50px;
    }

    .slider-container{
     bottom: -100px;
     height: 108px;
     transform: translate(-50%, 0);
    }

    &__img{
        img{
          opacity: 0.5;
        }
    }

   }

   @media (max-width: 991px) {
    &__img{
      img{
        opacity: 0.5;
      }
    }

    .slider-container{
      bottom: 0;
    }
  }
}

.properties{
  padding-top: 100px;
  @include imageRatio(350, 320);

  &__browse{
    font-weight: 700;
    color: $primaryColor;
    display: inline-block;
    position: relative;
    transition: .3s;
    
    &:hover, &:focus-visible{
      outline: none;
      color: #8d8d8d;
      text-decoration: none;
    }
  
  }

  &__image-container{
    background-color: $primaryColor;
    border: none;
    &:hover .properties__image{
      opacity: 0.3;
    }
  }

  &__image{
    transition: .3s;
  }

  &__img-overlay{
    line-height: 20px;
    top: auto;
  }

  &__text-container{
    position: absolute;
    bottom: 10px;
  }

  &__title{
    font-weight: 500;
    font-size: 16px;
  }
  
  &__prices{
    font-weight: 700;
    font-size: 24px;
  }

  &__text{
    font-size: 14px;
    color: $tertiaryColor;
    margin: 0;
  }
}

.services{
  color: $secondaryColor;
  padding: 300px 0;
  position: relative;
  margin-top: 100px;
  
  &__bg{
    position: absolute;
    z-index: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }

  &__text{
    width: 100%;
  }

  &__learn-more{
    font-weight: 700;
    margin-top: 100px;
    display: inline-block;
    position: relative;
    color: $secondaryColor;
    transition: .3s;

    &:hover, &:focus-visible{
      outline: none;
      color: #8d8d8d;
      text-decoration: none;
    }
  }

  &__card{
    position: absolute;
    right: 0px;
    // left: calc((100% - 1140px) - 370px + 370px);
    top: 50%;
    transform: translateY(-50%);
  }

  .card{
    background-color: #000000;
    padding: 30px;
    min-height: 390px;
  }

  .card-img-top{
    width: 40%;
  }

  .card-title{
    font-weight: 700;
    margin-top: 40px;
  }

  .card-text{
    color: $tertiaryColor;
    font-size: 14px;
  }

  .slider-container{
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    height: 50px;
  }

  .swiper-pagination{
    position: unset;
    top: -40px;
    font-weight: 700;
  }

  .swiper-button-prev, .swiper-button-next{
    color: rgba($color: $tertiaryColor, $alpha: 0.6);
    background-color: transparent;
    padding: 38px;
    transition: .3s;

    &:hover{
      color: rgba($color: $tertiaryColor, $alpha: 1);
    }

    &::after{
      display: none;
    }

    &:focus-visible, &:focus{
      outline: none;
    }
  }

  @media (max-width: 575px) { 
    &__detail{
      margin-top: 50px;
    }

    .slider-container{
     bottom: -60px;
    }

   }

  @media (max-width: 991px) {
  padding-bottom: 350px;
    &__bg{
      width: 100%;
    }

    &__text{
      top: -250px;
      width: 100%;
    }

    &__learn-more{
      font-weight: 700;
      margin-top: 50px;
    }

    &__card{
      top: 452px;
    }
  }
}

.agents{
  padding-top: 100px;
  @include imageRatio(255, 300);

  &__wrapper{
    &:hover .agents__image{
      transform: scale(1.1);
    }
    &:hover .agents__text{
      padding-bottom: 50px;
        .agents__social{
          opacity: 1;
        }
    }
  }

  &__image-container{
    margin-bottom: 50px;
    overflow: hidden;
  }

  &__image{
    object-position: top;
    transition: .3s;
  }

  &__social{
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s;
    display: flex;
    justify-content: space-evenly;
    & a{
      margin-top: 10px;
      color: $secondaryColor;
      font-size: 16px;
      transition: .3s;

      &:hover{
        text-decoration: none;
        color: #8d8d8d;
      }
    }
  }

  &__text{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    width: 80%;
    padding: 14px 28px;
    color: $secondaryColor;
    border-radius: 5px;
    transition: all .3s ease;

    &:hover{
      padding-bottom: 50px;
    }

    &:hover .agents__social{
      opacity: 1;
    }
  }

  &__name{
    font-weight: 700;
    font-size: 16px;
  }

  &__telp{
    color: $tertiaryColor;
    font-size: 12px;
    margin: 0;
  }

  &__all{
    font-weight: 700;
    margin-top: 50px;
    color: $primaryColor;
    display: inline-block;
    position: relative;
    transition: .3s;

    &:hover, &:focus-visible{
      outline: none;
      color: #8d8d8d;
      text-decoration: none;
    }
  }
}

.search{
  margin-top: 100px;
  background-image: url(../../img/cta-fig-3.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  &::before{
    content: '';
    display: block;
    background-color: black;
    opacity: 0.2;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__text{
    position: relative;
    z-index: 1;
    padding: 38px;
    background-color: #000;
    max-width: 400px;
    color: $secondaryColor;
  }

  &__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
  }

  &__desc{
    color: $tertiaryColor;
    font-size: 16px;
    margin-top: 10px;
  }

  &__now{
    font-weight: 700;
    margin: 70px 0 0 0;
    display: inline-block;
    position: relative;
    color: $secondaryColor;
    transition: .3s;

    &:hover, &:focus-visible{
      outline: none;
      color: #8d8d8d;
      text-decoration: none;
    }
  }
}