@import '../_config.scss';
@import '../plugin/_bootstrap-select.scss';
@import '../plugin/_lightcase.scss';

body{
  background-color: #F7F7F7;
}

.header{
  padding-top: 190px;
  padding-bottom: 60px;

  @media (max-width: 575px) { 
    padding-top: 100px;
  }
}

.nav-tabs .nav-link{
  &:hover{
    border: 1px solid transparent;
  }
  &.active{
  background-color: transparent;
  border: 1px solid transparent;
  // border-bottom: 2px solid black;
  }
  &:focus-visible{
    outline: none;
  }
}

.header-left{
  &__title{
    font-size: 32px;
    font-weight: 700;
  }

  &__subtitle{
    font-size: 16px;
    font-weight: 400;
    color: $tertiaryColor;
  }
}

.header-right{  
  &__prices{
    font-size: 24px;
    font-weight: 700;
  }

  &__desc{
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    padding-right: 6px;
  }

  &__small{
    font-size: 12px;
    color: $tertiaryColor;
  }
}

.gallery{
  &__wrapper{
    padding-right: 5px !important;
  }

  &__img{
    height: 100%;
    width: 100%;
    object-position: top;
    object-fit: cover;
  }

  &__view-photos{
    background-color: #F7F7F7;
    border-radius: 5px;
    color: $primaryColor;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 20px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    &:hover, &:focus, &:focus-visible{
      color: #8d8d8d;
      text-decoration: none;
      outline: none;
    }
  }

  @media (max-width: 991px){
    &__view-photos{
      font-size: 12px;
      padding: 10px 15px;
    }
  }
}

.main-content{
  padding-top: 100px;
  padding-bottom: 100px;

  &__title{
    font-size: 22px;
    font-weight: 700;
  }

  &__detail-upper{
    padding-top: 20px;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
  }

  &__detail-bottom{
    font-weight: 700;
    font-size: 16px;
  }

  &__overview{
    padding-top: 10px;
    // font-size: 16px;
    @include elypsis(16, 6, 24px);
  }

  &__continue{
    font-weight: 700;
    font-size: 12px;
    padding: 0;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    transition: .3s;
    &:hover, &:focus, &:focus-visible{
      color: #8d8d8d;
      outline: 0;
    }
  }

  &__amenities{
    font-weight: 400;
    padding-top: 30px;
  }

  &__ul{
    list-style: none;
    padding: 0;
    padding-top: 20px;
  }

  &__li{
    display: inline-block;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
  }

  &__explore-tab{
    padding: 0;
    padding-bottom: 20px;
    padding-right: 20px;
    color: $primaryColor;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    &:hover{
      color: #8d8d8d;
    }
    &.active{
      background-color: transparent;
      border-bottom: none;
    }
  }

  &__map{
    width: 100%;
    height: 400px;
  }

  &__circle-value{
    position: absolute;
    top: 50%;
    display: block;
    transform: translateY(-50%);
    font-weight: 500;
    font-size: 24px;
  }

  &__circle-month{
    font-size: 12px;
    display: block;
    font-weight: 400;
    color: $tertiaryColor;
  }

  &__chart{
    width: 90% !important;
    height: auto !important;
    margin: auto;
  }

  &__payment{
    position: relative;
    &::before{
      content: '';
      display: inline-block;
      width: 15px;
      height: 3px;
      background-color: #0070C9;
      vertical-align: middle;
      margin-top: 0;
      margin-right: 10px;
    }

    &--second{
      @extend .main-content__payment;
      &::before{
        background-color: #4B9AD9;
      }
    }

    &--third{
      @extend .main-content__payment;
      &::before{
        background-color: #99C6E9;
      }
    }
  }

  .main-content__dash{
    color: red;
    font-weight: 700;
  }

  &__dollar{
    font-weight: 700;
  }

  &__tabs{
    border: none;
  }
  
  &__school-type{
    font-size: 12px;
    color: #8d8d8d;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin-right: 20px;
    transition: .3s;
    &:hover{
      color: #000;
    }
    &.active{
      background-color: transparent;
      color: #000;
      border: none;
      border-bottom: 2px solid black !important;
      padding-bottom: 5px;
    }
  }
  
}

.side-content{
  &__wrapper{
    position: sticky;
    top: 100px;
  }
  &__card{
    background-color: transparent;
    border: none;
  }
  &__body{
    padding-top: 0;
  }

  &__title{
    font-size: 16px;
    font-weight: 700;
  }

  &__star{
    font-size: 12px;
  }

  &__text{
    font-size: 12px;
    margin: 0;
    color: $tertiaryColor;
  }
}

.bungkus{
  position: sticky;
}